<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Beer Quest</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div id="app">
        <div id="top-bar">
            <a  id="logo" href="/">
                <img src="../static/logo.svg" alt="BeerQuest" />
            </a>
        </div>
        <div class="container">
            <P class="section-header">{{ beerList["type"] }}</p>
            <div class="section">
                {% for beer in beerList %}
                    <a class="beer-tile" href="{{beer['untappdUrl']}}">
                        <img src='../static/img/{{ beer["venue"]["logo"] }}' />
                        <div>{{ beer["name"] }}</div>
                        <div>{{ beer["venue"]["name"] }}</div>
                        <div>{{ beer["details"]["abv"] }}</div>
                        <div>{{ beer["details"]["ibu"] }}</div>
                    </a>
                {% endfor %}
          </div>
        </div>
    </div>


</body>
</html>
